body {
    background-image: url("../Images/Login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 600px;
}

.inputBox {
    margin-top: 15%;
    margin-left: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    width:50%;
    background-color: grey;
    opacity: 95%;
  }

  .submit {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 10px;
  }

  footer ul {
    background-color: hotpink;
    display: flex;
    transform: translateY(616px);
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
  }

  footer h2 {
    transform: translateY(600px);
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: red;
  }